<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="false">
    <input type="submit" value="Sign Out"/>
</form>

<div>
    <h2>Update User</h2>
    <form action="#" th:action="@{/admin/save}" th:object="${user}" method="POST">
        <label> firstname<input type="text" th:field="*{firstName}"></label><br>

        <label> lastname<input type="text" th:field="*{lastName}"></label><br>
        <label> email<input type="text" th:field="*{email}"></label><br>
        <label> password<input type="password" th:field="*{password}"></label><br>
        <label> confirm<input type="password" th:field="*{passwordConfirm}"></label><br>

        <p>
            <label>Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${allRoles}"
                       th:text="${role.nameRole}"
                       th:value="${role.id}"
                       th:field="*{roleList}"
                />
            </label>
        </p>
        <button type="submit"> Add User</button>
    </form>
    <hr>
    <a th:href="@{/admin}"> Back to Users List</a>
</div>
</body>
</html>