<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1><a th:href="@{/user}">My Page</a></h1>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="false">
    <input type="submit" value="Sign Out"/>
</form>
<table style="font-family: Arial, sans-serif; border-collapse: collapse; width: 100%;">
    <tr>
        <td><h1> Id </h1></td>
        <td><h1> First Name </h1></td>
        <td><h1> Last Name </h1></td>
        <td><h1> Email </h1></td>
        <td><h1><a th:href="@{add}">Add</a></h1></td>
    </tr>
    <th:block th:each="user : ${users}">
        <tr style="border: 2px solid #dddddd; text-align: left; padding: 8px;">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td><a th:href="@{update(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{delete(id=${user.id})}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>