<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="false">
    <input type="submit" value="Sign Out"/>
</form>

<div>
    <h2>Update User</h2>
    <form action="#" th:action="@{/admin/save-update}" th:object="${user}" method="POST">
        <label>id<input type="text" th:field="*{id}" readonly></label><br>
        <label>firstName<input type="text" th:field="*{firstName}"></label><br>
        <label>lastName<input type="text" th:field="*{lastName}"></label><br>
            <label>email<input type="text" th:field="*{email}"></label><br>
            <label>password<input type="password" th:field="*{password}"></label><br>
            <label>passwordConfirm<input type="password" th:field="*{passwordConfirm}"></label><br>
        <button type="submit"> Update User</button>
    </form>
    <hr>
    <a th:href="@{/admin}"> Back to Users List</a>
</div>
</body>
</html>